{% extends "templates/base.twig" %}

{% block content %}

    {% for post in posts %}

        <article {{ function('post_class') }}>

            <div class="col-md-12 seperator">
                <section class="data-deposit-header">
                    <div class="data-deposit-main">
                        <h2 class="data-deposit-title">{{post.title}} ({{post.data_deposit_number}})</h2>
                        <span><strong>By {{post.first_name}} {{post.last_name}}</strong></span>

                        <div class="data-deposit-summary">
                            <h4>Summary</h4>
                            <p>{{post.description}}</p>
                        </div>
                    </div>

                    <div class="data-deposit-info">
                        <h4>Data Set Information</h4>

                        {# Data Deposit # #}
                        <span>Data Deposit #: <strong>{{ post.id }}</strong></span>

                        {# Principal Investigator #}
                        {% set isPi = post.get_field('is_principal_investigator') %}
                        {% set pi = post.get_field('principal_investigator') %}
                        {% if isPi == 'Yes' and pi | length %}
                            <span>Principal Investigator: <strong>{{ pi.user_firstname}} {{ pi.user_lastname}}</strong></span>
                        {% endif %}

                        {% set additionalPi = post.get_field('additional_principal_investigators') %}
                        {# Additional PIs #}
                        {% if isPi == 'Yes' and  additionalPi | length %}
                            {% if additionalPi | length > 1 %}
                                <span>Additional PIs:
                                    {% for item in additionalPi %}
                                        <strong>
                                            {{item.first_name}} {{item.last_name}}{% if not loop.last %},{% endif %}
                                        </strong>
                                    {% endfor %}
                                </span>
                            {% else %}
                                <span>Additional PI:
                                    {% for item in additionalPi %}
                                        <strong>
                                            {{item.first_name}} {{item.last_name}}
                                        </strong>
                                    {% endfor %}
                                </span>
                            {% endif %}
                        {% endif %}

                        {# Years #}
                        {% if post.start_year == post.end_year %}
                            <span>Year of Study: <strong>{{post.start_year | date("Y") }}</strong></span>
                        {% else %}
                            <span>Years of Study: <strong>{{post.start_year | date("Y") }} - {{post.end_year | date("Y") }}</strong></span>
                        {% endif %}

                        {# Location #}
                        {% set location = post.get_field('location') %}
                        {% if location | length %}
                            {% if location | length > 1 %}
                                <span>Geographic Locations:
                                    {% for item in location %}
                                        <strong>
                                            {{item.city_or_state}}, {{item.country}}{% if not loop.last %};{% endif %}
                                        </strong>
                                    {% endfor %}
                                </span>
                            {% else %}
                                <span>Geographic Location:
                                    {% for item in location %}
                                        <strong>
                                            {{item.city_or_state}}, {{item.country}}
                                        </strong>
                                    {% endfor %}
                                </span>
                            {% endif %}
                        {% endif %}

                        {# IRB Approval? #}
                        <span>IRB or Equivalent Approval? <strong>{{post.institutional_review_approval}}</strong></span>
                    </div>
                </section>
            </div>

            <div class="col-md-12 hide-on-mobile">
                <section class="data-deposit-download">
                    <h4>Download Data Set</h4>

                    {% for item in post.get_field('data_set') | reverse %}
                        <div class="panel-group download-box" role="tablist" aria-multiselectable="true">

                            <div class="panel panel-default">
                                <div class="panel-heading download-box-header" role="tab" id="heading{{ loop.index }}">
                                    <div class="header-meta">
                                        <h3>{{ item.data_set_title }} <span class="small">{{ item.data_set_date | date("F t, Y") }}</span></h3>
                                    </div>

                                    {# <div class="header-actions">
                                        {% set item_inner = item.data_set_files %}
                                        <a href="" class="btn btn-default" role="button">Download All</a>
                                    </div> #}

                                    <a class="accordion-toggle {{ loop.first ? '' : 'collapsed' }}" role="button" data-toggle="collapse" data-parent="false" href="#collapse{{ loop.index }}" aria-controls="collapse{{ loop.index }}">
                                    </a>
                                </div>
                                <div id="collapse{{ loop.index }}" class="panel-collapse collapse {{ loop.first ? 'in' : '' }}" role="tabpanel" aria-labelledby="heading{{ loop.index }}">
                                    <div class="panel-body download-box-body">
                                        {{ item.data_set_description }}

                                        <div class="data-set-files-wrapper">
                                            {% for item_inner in item.data_set_files %}
                                                <div class="data-set-files">

                                                    <div class="data-set-file-meta">
                                                        <p class="data-set-file-name">{{ item_inner.data_set_file['filename'] }}</p>
                                                        <a href="{{ item_inner.data_set_file_url }}" target="_blank" class="data-set-file-url">{{ item_inner.data_set_file_url }}</a>
                                                    </div>

                                                    <div class="data-set-file-download">
                                                        <a href="{{ item_inner.data_set_file['url'] }}" class="btn btn-default file-download" role="button" target="_blank">Download</a>
                                                    </div>

                                                </div>
                                            {% endfor %}
                                        </div>

                                        <div class="data-set-media-files-wrapper">
                                            {% for item_inner in item.data_set_media_files %}
                                                <div class="data-set-media-file">
                                                    <strong>{{ item_inner.media_file_title }}</strong>
                                                    <p>{{ item_inner.media_file_description }}</p>

                                                    <div class="media-file">
                                                        {% if item_inner.audio_or_video == 'Audio' %}
                                                            <img src="{{ site.url }}/wp-content/themes/sage/assets/images/audio.png" alt="" class="media-format-icon" />
                                                        {% elseif item_inner.audio_or_video == 'Video' %}
                                                            <img src="{{ site.url }}/wp-content/themes/sage/assets/images/video.png" alt="" class="media-format-icon" />
                                                        {% endif %}
                                                        <a href="{{ item_inner.data_set_media_file['url'] }}" target="_blank">{{ item_inner.data_set_media_file['filename'] }}</a>
                                                    </div>

                                                </div>
                                            {% endfor %}
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    {% endfor %}

                </section>
            </div>

            <div class="col-md-12">
                <section class="data-deposit-footer">

                    {% if post.has_related_publications == 'Yes' %}
                        <div class="data-deposit-related-pubs">
                            <h4>Related Publications</h4>
                            {% for item in post.get_field('publications') %}
                                <ul>
                                    <li>
                                        {% if item.publication_url | length %}
                                            <a href="{{item.publication_url}}" target="_blank">{{ item.publication_title }}</a>
                                        {% else %}
                                            {{ item.publication_title }}
                                        {% endif %}

                                        {% if item.publication_file | length %}
                                            | <a href="{{item.publication_file['url'] }}" target="_blank">View File</a>
                                        {% endif %}
                                    </li>
                                </ul>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="data-deposit-additional-info">
                        {% if post.additional_information | length %}
                            <h4>Additional Information</h4>
                            <p>{{post.additional_information}}</p>
                        {% endif %}
                    </div>
                </section>
            </div>

        </article>

    {% endfor %}

{% endblock %}
